<div class="container-full">
	<div class="home-img-container">
		<img class="home-img" src="/images/restaurant.jpg">
		<img class="xl-logo" src="/images/heading_trans.gif">
	</div>
	<div class="w-70pc">
		<div class="nav-icons-container">
			<div class="nav-item">
				<a href="">MENU</a>
			</div>
			<div class="nav-item">
				<a href="">RESERVATION</a>
			</div>
		</div>
		<div class="info">
			<div class="info-phone">415-753-5678</div>
			<div class="info-address">
				250 West Portal Ave (between Vicente & 14th Ave.)<br>
				San Francisco, CA 94127
			</div>
			<div class="info-map"></div>
		</div>
	</div>
</div>
<div>Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
