
<div class="home-img-container h-60pc">
	<div class="home-img filter"></div>
	<div class="left-filter filter"></div>
	<div class="right-filter filter"></div>
	<div class="home-img banner-img"></div>
</div>

<div class="view-width ta-ctn">
	<div class="nav-icons-container">
		<div class="nav-item">
			<a href="/menu">
				<div class="bg-blk">
					<img src="images/xl_logo.png">
					<p>MENU</p>
				</div>
			</a>
		</div>
		<div class="nav-item">
			<a id="reserve" href="#res">
				<div class="plate">
					<div class="outter-circle">
						<div class="inner-circle">	
						</div>
					</div>
				</div>
				<div class="chapsticks">
					<div></div>
					<div id="chop"></div>
				</div>
				<p>RESERVATION</p>
			</a>
		</div>		
		<div class="nav-item">
			<a id="xl-info" href="/info">
				<i class="fa fa-phone" aria-hidden="true"></i>
				<i class="fa fa-map-marker" aria-hidden="true"></i>
				<i class="fa fa-clock-o" aria-hidden="true"></i>
				<div class="info-i">
					<p>INFO</p>
				</div>
			</a>
		</div>
	</div>
</div>
<div id="reservation-card" class="po-fx">
	{{> reservation_card}}
</div>
<script type="text/javascript">
	$("#reserve").click(function(){
		$("#reservation-card").toggleClass("top-0");
		$("#reservation-card").toggleClass("darken-filter");
	})
</script>


