<link rel="stylesheet" href="/css/sass_compiled/menu_style.css">
<div class="home-image-container">
</div>
<div id="menu-bar" class="mg-top-30pc">
	<div class="menu-bar-row mdl-grid">
		<div class="mdl-cell mdl-cell--1-col">
			    	<i class="material-icons">list</i>
		</div>
		<div class="item-filter mdl-cell mdl-cell--2-col">
			<div class="va-middle-abs btn-container">
				<div class="lunch-dinner-btn"><button class="mdl-button mdl-js-button mdl-button--raised">Lunch</button></div>
				<div class="lunch-dinner-btn"><button class="mdl-button mdl-js-button mdl-button--raised active">Dinner</button></div>
			</div>
		</div>
		<div class="mdl-cell mdl-cell--6-col ta">
			<a href="/">
	    		<img class="menu-bar-icon" src="images/xl_logo.png"/>
	    	</a>
	    </div>
	    <div class="mdl-cell mdl-cell--3-col"></div>
		</div>
</div>

<div class="mdl-grid menu-content">
    <div class="mdl-cell mdl-cell--1-col">
    </div>
	<div class="mdl-cell mdl-cell--2-col ">
		<div id="menu-categories" class="mdl-shadow--2dp item-filter">
			<div class="tabs">
			<ul class="tab">
				<li class="tab active-filter" data-category="appetizer"><button class="mdl-button mdl-js-button">Appetizers</button></li>
				<li class="tab" data-category="soup"><button class="mdl-button mdl-js-button">Soup</button></li>
				<li class="tab" data-category="seafood"><button class="mdl-button mdl-js-button">Seafood</button></li>
				<li class="tab" data-category="beef"><button class="mdl-button mdl-js-button">Beef</button></li>
				<li class="tab" data-category="lamb"><button class="mdl-button mdl-js-button">Lamb</button></li>
				<li class="tab" data-category="pork"><button class="mdl-button mdl-js-button">Pork</button></li>
				<li class="tab" data-category="chicken"><button class="mdl-button mdl-js-button">Chicken</button></li>
				<li class="tab" data-category="vegetables"><button class="mdl-button mdl-js-button">Vegetables</button></li>
			</ul>
			</div>
		</div>
	</div>
	<div class="mdl-cell mdl-cell--6-col item-list">
    	<div class="itemList mdl-shadow--2dp">
    		{{#each data}}
    			<div id="{{@key}}" class="category">
    					<ul>
    					<li class="title mdl-shadow--4dp">{{@key}}</li>
    					{{#each this}}
    						{{#if lunch}}
    							<li class="lunch hidden">{{> lunch_item}}</li>
    						{{/if}}

    						<li class="dinner">{{> item}}</li>
    					{{/each}}
    				</ul>
    			</div>
    		{{/each}}
    		<script type="text/javascript">
    			$("#appetizer").addClass("active-category")
    		</script>
		</div>
	</div>
	<div class="mdl-cell mdl-cell--3-col"></div>
</div>


<script type="text/javascript">
var Menu = {}
Menu.topImage = $(".header-logo img");
Menu.page = $(document);
Menu.barImage = $(".menu-bar-icon");
Menu.menu = $(".item-filter");
Menu.meunBarMgTop =  $("#menu-bar").css("margin-top").replace("px","")*1;
Menu.mobileFilter = $("#menu-bar .mdl-cell--1-col i");
Menu.mobileFilterBtns = $("#menu-categories button");

Menu.page.scroll(function(){

	Menu.topImage.css("bottom","100px");
	if(Menu.page.scrollTop() === 0){
		Menu.barImage.css("top","100%");
		Menu.barImage.css("opacity","0");
	}else{
		Menu.barImage.css("top","0");
		Menu.barImage.css("bottom","0");
		Menu.barImage.css("opacity","1");
	}

	if(Menu.page.scrollTop() > Menu.meunBarMgTop){
		$("#menu-bar").addClass("po-fx");
		$("#menu-bar").removeClass("mg-top-30pc");
		$("#menu-content").css("top", $("#menu-bar").height() + Menu.meunBarMgTop);
		$("#menu-categories").addClass("po-fx");
		$("#menu-categories").addClass("mdl-cell--2-col");
		$("#menu-categories").css("top",$("#menu-bar").height() + "px");


	}else{
		$("#menu-bar").removeClass("po-fx");
		$("#menu-bar").addClass("mg-top-30pc");
		$("#menu-content").css("top",0);
		$("#menu-categories").removeClass("po-fx");
		$("#menu-categories").removeClass("mdl-cell--2-col");
		$("#menu-categories").css("top",0);


	}
})

function updateMenu(ele,cat){
	var newCat = $("#" + cat);
	console.log(newCat.offset().top)
	if(!ele.hasClass("active-filter")){
		$(".active-filter").removeClass("active-filter");
		ele.addClass("active-filter");

		$(document.body).animate({scrollTop: newCat.offset().top - $("#menu-bar").height()},'slow');
	}
}

function toggleLunchDinner(){
	$(".lunch-dinner-btn").click(function(e){
		if(!$(e.target).hasClass("active")){
			console.log("change lunch/dinner")
			$(".lunch").toggleClass("hidden");
			$(".dinner").toggleClass("hidden");
		}

		$(".lunch-dinner-btn .active").removeClass("active");
		$(e.target).addClass("active");
	})
}

toggleLunchDinner();

Menu.menu.click(function(e){
	var ele = $(e.target).parent();
	var cat = ele.data("category");
	console.log(cat);
	if(ele.data("category")){
		updateMenu(ele,cat);
	}

})

Menu.mobileFilter.click(function(){
	$("#menu-categories").toggleClass("h-auto");
})

Menu.mobileFilterBtns.click(function(){
	$("#menu-categories").toggleClass("h-auto");
})
</script>