<link rel="stylesheet" href="/css/sass_compiled/menu_style.css">
<div class="mdl-layout mdl-js-layout h-auto">
	<div class="home-image-container">
	</div>
	<header class="mdl-layout__header mg-top-30pc">
		<div class="mdl-layout__header-row">
			<div class="mdl-cell mdl-cell--1-col"></div>
			<div class="item-filter mdl-cell mdl-cell--2-col ">
				<div class="lunch-dinner-btn"><button class="mdl-button mdl-js-button">Lunch</button></div>
				<div class="lunch-dinner-btn"><button class="mdl-button mdl-js-button">Dinner</button></div>
			</div>
			<div class="mdl-cell mdl-cell--6-col item-list">
		    	<img class="menu-bar-icon" src="images/xl_logo.png"/>
		    </div>
		    <div class="mdl-cell mdl-cell--3-col">2</div>
   		</div>
	</header>
	<div class="mdl-layout__drawer">
  	</div>
  	<main class="mdl-layout__content">
  		<div class="mdl-grid">
  		    <div class="mdl-cell mdl-cell--1-col"></div>
  			<div class="item-filter mdl-cell mdl-cell--2-col ">
  				<div class="mdl-shadow--2dp">
  					<div class="tabs">
						<ul class="tab">
							<li class="tab active-filter" data-category="appetizers"><button class="mdl-button mdl-js-button">Appetizers</button></li>
							<li class="tab" data-category="beef"><button class="mdl-button mdl-js-button">Beef</button></li>
							<li class="tab" data-category="lamb"><button class="mdl-button mdl-js-button">Lamb</button></li>
							<li class="tab" data-category="pork"><button class="mdl-button mdl-js-button">Pork</button></li>
							<li class="tab" data-category="chicken"><button class="mdl-button mdl-js-button">Chicken</button></li>
							<li class="tab" data-category="seafood"><button class="mdl-button mdl-js-button">Seafood</button></li>
							<li class="tab" data-category="soup"><button class="mdl-button mdl-js-button">Soup</button></li>
							<li class="tab" data-category="vegetables"><button class="mdl-button mdl-js-button">Vegetables</button></li>
						</ul>
  					</div>
  				</div>
  			</div>
  			<div class="mdl-cell mdl-cell--6-col item-list">
		    	<div class="itemList mdl-shadow--2dp">
					<div id="appetizers" class="category active-category">
						<ul>
							{{#each data.appetizer}}
							<li class="">{{> item}}</li>
							{{/each}}
						</ul>
					</div>
					<div id="beef" class="category">
						<ul>
							{{#each data.beef}}
							<li class="">{{>item}}</li>
							{{/each}}
						</ul>
					</div>
					<div id ="pork" class="category">
						<ul>
							{{#each data.pork}}
							<li class="">{{>item}}</li>
							{{/each}}
						</ul>
					</div>
					<div id="lamb" class="category">
						<ul>
							{{#each data.lamb}}
							<li class="">{{>item}}</li>
							{{/each}}
						</ul>
					</div>
					<div id ="chicken" class="category">
						<ul>
							{{#each data.chicken}}
							<li class="">{{>item}}</li>
							{{/each}}
						</ul>
					</div>
					<div id="seafood" class="category">
						<ul>
							{{#each data.seafood}}
							<li class="">{{>item}}</li>
							{{/each}}
						</ul>
					</div>
					<div id="soup" class="category">
						<ul>
							{{#each data.soup}}
							<li class="">{{>item}}</li>
							{{/each}}
						</ul>
					</div>
					<div id="vegetables" class="category">
						<ul>
							{{#each data.vegetables}}
							<li class="">{{>item}}</li>
							{{/each}}
						</ul>
					</div>
				</div>
  			</div>
  			<div class="mdl-cell mdl-cell--3-col"></div>
    	</div>
  	</main>
</div>
<script type="text/javascript">
var Menu = {}
Menu.topImage = $(".header-logo img");
Menu.page = $(document);
Menu.barImage = $(".menu-bar-icon");
Menu.menu = $(".item-filter");

Menu.page.scroll(function(){
	Menu.topImage.css("bottom","100px");
	if(Menu.page.scrollTop() === 0){
		Menu.barImage.css("top","100%");
		Menu.barImage.css("opacity","0.1");
	}else{
		Menu.barImage.css("top","0");
		Menu.barImage.css("opacity","1")
	}
})

function updateMenu(ele,cat){
	if(!ele.hasClass("active-filter")){
		$(".active-filter").removeClass("active-filter");
		ele.addClass("active-filter");
		$(".active-category").removeClass("active-category");
		$("#" + cat).addClass("active-category");
	}
}

function toggleLunchDinner(){

}

Menu.menu.click(function(e){
	var ele = $(e.target).parent();
	var cat = ele.data("category");

	if(ele.data("category")){
		updateMenu(ele,cat);
	}

})
</script>