<link rel="stylesheet" href="/css/sass_compiled/menu_style.css">
<div class="menu-container">
	<div class="h-30pc">
		
	</div>
	<div id="menu">
		<div class="view-width">
			<div class="tabs">
				<div class="tab">
					<div class="lunch-dinner-btn">Lunch</div>
					<div class="lunch-dinner-btn">Dinner</div>
				</div>
				<div class="tab" data-category="appetizers">Appetizers</div>
				<div class="tab" data-category="beef">Beef</div>
				<div class="tab" data-category="lamb">Lamb</div>
				<div class="tab" data-category="pork">Pork</div>
				<div class="tab" data-category="chicken">Chicken</div>
				<div class="tab" data-category="seafood">Seafood</div>
				<div class="tab" data-category="soup">Soup</div>
				<div class="tab" data-category="vegetables">Vegetables</div>
			</div>
			<div class="itemList">
				<div id="appetizers" class="category active-category">
					{{#each data.appetizer}}
						{{> item}}
					{{/each}}
				</div>
				<div id="beef" class="category">
					{{#each data.beef}}
						{{>item}}
					{{/each}}
				</div>
				<div id ="pork" class="category">
					{{#each data.pork}}
						{{>item}}
					{{/each}}
				</div>
				<div id="lamb" class="category">
					{{#each data.lamb}}
						{{>item}}
					{{/each}}
				</div>
				<div id ="chicken" class="category">
					{{#each data.chicken}}
						{{>item}}
					{{/each}}
				</div>
				<div id="seafood" class="category">
					{{#each data.seafood}}
						{{>item}}
					{{/each}}
				</div>
				<div id="soup" class="category">
					{{#each data.soup}}
						{{>item}}
					{{/each}}
				</div>
				<div id="vegetables" class="category">
					{{#each data.vegetables}}
						{{>item}}
					{{/each}}
				</div>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">

	$(".tabs").click(function(e){
		var active = $(".active-category");
		var el = e.target;
		var cat;

		if($(el).hasClass("tab")){
			cat = "#" + $(el).data("category");
			$(cat).toggleClass("active-category");
			active.toggleClass("active-category");

		}
	})

	$(document).scroll(function(e){
		var scrolled = $(document).scrollTop();
		$(".menu-container").css("background-position","0px "+ (scrolled*0.5 - 100) +"px")
	})
</script>