.top-ng-100pc{
	top: -100%!important;
	transition: 0.2s ease-in;
}

.cards-holder{
	max-width: 960px;

	.map-container,.map{
		width:100%;
		height: 300px;
		display: block;
		top: 0;
		overflow: hidden;
		transition: 0.2s ease-in;
	}
}